nav *{
    margin:0 !important;
    padding:0 !important;
    box-sizing: border-box !important;
}
nav{
    position: absolute !important;
    width:50vw !important;
    height:100vh !important;
    background:black !important;
    z-index:1000000000 !important;
    transform:translate(-100%) !important;
    transition:.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
    opacity:0 !important;
    font-family:Raleway !important;
}
nav ul{
    height:100% !important;
    background: #303030 !important;
    list-style:none !important;
    border-right:1px solid rgb(131, 131, 131) !important;
    box-shadow:0 0 100px rgba(0, 0, 0, 0.377) !important;

}
nav h3{
    height:13vh !important;
}
nav h3 span{
    display:flex !important;
    align-items: center !important;
    justify-content: center !important;
    height:100% !important;
    width:100% !important;
    font-size:2rem !important;
    color:wheat !important;
    background:#3d3d3d !important;


}
.nav-active{
    transform:translate(0) !important;
    opacity:1 !important;
}
nav li{
    display:block !important;
    text-align: center !important;
}
nav a{
    display:block !important;
    text-transform:uppercase !important;
    font-size:1rem !important;
    padding:2em 0 !important;
    text-decoration:none !important;
    color:white !important;
    background:linear-gradient(#303030,#42424263) !important;
}


.burger{
    position: absolute !important;
    left:2.5vw !important;
    top:3.5vh !important;
    padding:1em !important;
    cursor:pointer;
    transition:.4s ease !important;
    transition-property: transform !important;
    z-index:1000000000 !important;
    -webkit-tap-highlight-color: transparent !important;
}
.open{
    /* background:blue; */
    transform:rotate(180deg )!important;
}

.burger .line {
    width:40px !important;
    height:5px !important;
    background:white !important;
    position:relative !important;
    transition:.4s ease !important;
}
.line::after,.line::before{
    content:'' !important;
    position: absolute !important;
    width:inherit !important;
    height:inherit !important;
    background:white !important;
    transition:.4s ease !important;
    left:0 !important;
}
.line::after{
    bottom:-10px !important;
}
.line::before{
    bottom:10px !important;
}
.open .line{
    background:transparent !important;
}
.open .line::after{
    bottom:0 !important;
    transform:rotate(45deg) !important;
}
.open .line::before{
    bottom:0 !important;
    transform:rotate(-45deg) !important;
}

@media (max-width:800px){
    nav{
        width:100% !important;
    }
    .burger{
        left:0 !important;
        height:3.5vh !important;
    }
}
